body{
  background-color: #F5F7FA;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color:#333;
}

#wrapper{
  max-width: 850px;
  margin: 0 auto;
}

div.card-wrap{
  background-color: white;
  padding:8px;
  border-radius: 1.5rem;
  box-shadow: 0 3px 20px rgba(99, 99, 99, 0.1);
}

h2{
  padding-left: 8px;
  padding-top: 20px;
}