body{
  background-color: #F5F7FA;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color:#333;
}

body.loading-page{
  overflow:hidden;
  height:100%;
}

body.loading-page div#calendar{
  height:50vh;
}

#wrapper{
  max-width: 850px;
  margin: 0 auto;
}

div.card-wrap{
  background-color: white;
  padding:8px;
  margin-bottom:12px;
  border-radius: 1.5rem;
  box-shadow: 0 3px 20px rgba(99, 99, 99, 0.1);
}

h2{
  padding-left: 8px;
  padding-top: 20px;
  margin-bottom:5px;
}

.hidden{
  display: none !important;
}

.opacity-zero{
  opacity: 0;
}

/* 페이지 로딩 */
.dummy-data span.loading{
  position: relative;
  color: transparent; /* 데이터는 안 보이게 */
  background-color: #dadada;
  border-radius: 4px;
  overflow: hidden;
}
.dummy-data span.loading {
  background-color: #dadada;       /* 첫 번째 색상 */
  animation: pulse 1.4s infinite alternate;
  border-radius: 4px;
}

.dummy-data .time-block div.value span.loading{
  font-size: 2.7rem;
  font-weight: 700;
}

div#calendar.dummy-data-calendar::before{
  content: "loading...";
  display: flex; /* flex를 써야 content를 중앙정렬할 수 있어 */
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  bottom: 12px;
  border-radius: 20px;
  background-color: #dadada;
  z-index: 10;
  animation: pulse 1.4s infinite alternate;
}

@keyframes pulse {
  0% {
    background-color: #dadada;    /* 첫 번째 색상 */
  }
  100% {
    background-color: #e9e9e9;    /* 두 번째 색상 */
  }
}