img.placeholder-img,
img.banner-img{
    width: 100%;
    border-radius: 1rem;
}

/* 타이틀바 */
h3.title{
    text-align: center;
    margin-top:0px;
    margin-bottom: 12px;
    font-size: 1.1rem;
}

div.subtype-list{
  font-size: 0.8rem;
  text-align: center;
  margin-top: 4px;
}

div.subtype-list span{
  display:inline-block;
  border:1px solid;
  border-radius: 1rem;
  padding:3px 6px;
  margin:2px;
  color:white;
  font-weight: 500;
}

div.subtype-list span.std,
div.subtype-list span.not{
  background-color: #86b8e0;
}

div.subtype-list span.limited{
  background-color:#eb7575;
  background-image: linear-gradient(135deg, #fd9494, #a084ca);
}

div.subtype-list span.cafe{
  background-color:#d8ae83;
}

div.subtype-list span.bd{
  background-color:var(--char-color);
}

div.subtype-list span.pt{
  background-image: linear-gradient(135deg, #da64f7, #2ca5f1, #5ce4d4);
}

div.subtype-list span.main{
  background-color: #2384de;
}

div.subtype-list span.sim{
  background-color: #f17eb3;
}

div.subtype-list span.admin{
  background-color: #e0a82b;
}

div.subtype-list span.watchdog{
  background-color: #bb3838;
}

div.subtype-list span.nego{
  background-color: #9a21b1;
}

div.subtype-list span.st{
  background-color: #6baa3d;
}

/* 현재 이벤트 타이머 */
.remaining-time {
  text-align: center; /* 중앙 정렬 */
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.remaining-time span {
  /* display: block; */
  margin-bottom: 4px;
  font-size: 0.8rem;
}

.remaining-time .countdown {
  display: flex;
  justify-content: center; /* 가로로 나열 + 중앙정렬 */
  background-color: rgb(244, 244, 244);
  border-radius: 20px;
  width:90%;
  margin:2px auto 6px auto;
  padding:5px 10px;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); */
}

.time-block{
  flex: 1; /* 각 time-block 너비 동일! */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* 가상요소 위치 기준 */
}

.time-block:not(:last-child){
  vertical-align: middle;
}

.remaining-time div.value{
  position: relative;
  font-size: 2.7rem;
  font-weight: 700;
  color:#444;
}

.time-block:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 20%;
  bottom: 35%;
  right: 0;
  width: 1px;
  background-color: #333;
}

.remaining-time div.label{
    font-size: 0.8rem;
}

/* 생일 디자인 */

/* div.bd-card-wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
} */

div.bd-char-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(0, 420px));
  justify-content: space-between;
}

div.card-wrap.dday-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom:8px; */
  background: #fff;
}

.dday-wrap .left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dday-wrap img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.dday-wrap .info {
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
}

.dday-wrap .name {
  font-weight: 600;
  font-size: 1.4rem;
  word-break: keep-all;
}

.dday-wrap .birthday {
  font-size: 0.9rem;
  color: #666;
}

.dday-wrap .dday {
  font-size: 1.8rem;
  color: #666;
  font-weight: bold;
  word-break: normal;
  white-space: nowrap;
}

/* dday 글씨 컬러 style.setProperty한 값 가져오기 */
.dday-wrap.bd-dday .dday{
  color: var(--char-color);
}

.dday-wrap.bd-dday{
  border:1px solid var(--char-color);
  /* box-shadow: 0 3px 20px rgba(224, 77, 33, 0.2); */
}

